In [1]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt 

df = pd.read_csv("netflix_titles.csv")
#print(df.info())

#make a histogram of the years and which (tv or movie) was released more in what years?
min_year = df['release_year'].min()
min_year
max_year = df['release_year'].max()
max_year        #1925 - 2021

2021

In [2]:
print(max_year)

2021

In [15]:
df["release_year"].value_counts().sort_index(ascending=False).head(50)

2021     592
2020     953
2019    1030
2018    1147
2017    1032
2016     902
2015     560
2014     352
2013     288
2012     237
2011     185
2010     194
2009     152
2008     136
2007      88
2006      96
2005      80
2004      64
2003      61
2002      51
2001      45
2000      37
1999      39
1998      36
1997      38
1996      24
1995      25
1994      22
1993      28
1992      23
1991      17
1990      22
1989      16
1988      18
1987       8
1986      13
1985      10
1984      12
1983      11
1982      17
1981      13
1980      11
1979      11
1978       7
1977       7
1976       9
1975       7
1974       7
1973      10
1972       5
Name: release_year, dtype: int64

In [18]:
df["listed_in"].value_counts().head(50)

Dramas, International Movies                                         362
Documentaries                                                        359
Stand-Up Comedy                                                      334
Comedies, Dramas, International Movies                               274
Dramas, Independent Movies, International Movies                     252
Kids' TV                                                             220
Children & Family Movies                                             215
Children & Family Movies, Comedies                                   201
Documentaries, International Movies                                  186
Dramas, International Movies, Romantic Movies                        180
Comedies, International Movies                                       176
Comedies, International Movies, Romantic Movies                      152
Dramas                                                               138
Dramas, International Movies, Thrillers                              134
Action & Adventure, Dramas, International Movies                     132
Action & Adventure                                                   128
International TV Shows, TV Dramas                                    121
Comedies, Dramas, Independent Movies                                 116
Crime TV Shows, International TV Shows, TV Dramas                    110
Comedies                                                             110
Action & Adventure, International Movies                             101
Dramas, Independent Movies                                           100
Kids' TV, TV Comedies                                                 99
Reality TV                                                            95
International TV Shows, Romantic TV Shows, TV Comedies                94
International TV Shows, Romantic TV Shows, TV Dramas                  90
Anime Series, International TV Shows                                  88
Docuseries                                                            85
Dramas, Thrillers                                                     82
Documentaries, Music & Musicals                                       82
Comedies, Romantic Movies                                             80
Action & Adventure, Comedies, International Movies                    70
TV Comedies                                                           69
International Movies, Thrillers                                       67
Thrillers                                                             65
International TV Shows, Korean TV Shows, Romantic TV Shows            65
Documentaries, Sports Movies                                          65
Crime TV Shows, International TV Shows, Spanish-Language TV Shows     62
Action & Adventure, Sci-Fi & Fantasy                                  62
Movies                                                                57
Horror Movies, International Movies                                   57
Dramas, International Movies, Music & Musicals                        57
Horror Movies                                                         55
Comedies, International Movies, Music & Musicals                      55
Horror Movies, Thrillers                                              54
Dramas, Romantic Movies                                               52
Action & Adventure, Comedies                                          51
Crime TV Shows, Docuseries                                            50
Horror Movies, International Movies, Thrillers                        45
Documentaries, International Movies, Sports Movies                    44
Name: listed_in, dtype: int64

In [6]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [20]:
trends_over_time = df.groupby('release_year').type.value_counts().unstack().fillna(0)

In [23]:
trends_over_time

type          Movie  TV Show
release_year
1925            0.0      1.0
1942            2.0      0.0
1943            3.0      0.0
1944            3.0      0.0
1945            3.0      1.0
...             ...      ...
2017          767.0    265.0
2018          767.0    380.0
2019          633.0    397.0
2020          517.0    436.0
2021          277.0    315.0

[74 rows x 2 columns]

In [27]:
df["country"].value_counts()

United States                             2818
India                                      972
United Kingdom                             419
Japan                                      245
South Korea                                199
                                          ...
Romania, Bulgaria, Hungary                   1
Uruguay, Guatemala                           1
France, Senegal, Belgium                     1
Mexico, United States, Spain, Colombia       1
United Arab Emirates, Jordan                 1
Name: country, Length: 748, dtype: int64

In [28]:
# Similar to countries, split 'listed_in' into individual genres
genre_data = df['listed_in'].str.split(', ', expand=True).stack().reset_index(level=1, drop=True)

# Count genre occurrences by year
genre_trends = df.groupby('release_year')['listed_in'].value_counts().unstack().fillna(0)

In [31]:
genre_data

0                  Documentaries
1         International TV Shows
1                      TV Dramas
1                   TV Mysteries
2                 Crime TV Shows
                  ...
8805    Children & Family Movies
8805                    Comedies
8806                      Dramas
8806        International Movies
8806            Music & Musicals
Length: 19323, dtype: object

In [35]:
docMask = df['listed_in'].str.contains("Documentaries")

show_id         869
type            869
title           869
director        812
cast            445
country         794
date_added      869
release_year    869
rating          869
duration        869
listed_in       869
description     869
dtype: int64